
.page_title{
font-size: 30px;
text-align: center;
color:  orange;
}

.container{
    background-color: whitesmoke;
}

img{
    width:100%;
    max-width:200px;
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

